## PARTIE 4 : Mise à disposition des données

## Import librairies

In [211]:
import json
import os
import pandas as pd
import boto3

## Datalake : AWS S3 bucket

#### Création d'une instance et connexion au compte AWS

In [212]:
# Les clés secrètes ci-dessous ont été cachées
# Pour pouvoir exécuter ce code vous devrez renseigner vos clés AWS

ACCESS_KEY_ID = '---------------------'
SECRET_ACCESS_KEY = '------------------------------------------'

session = boto3.Session(aws_access_key_id=ACCESS_KEY_ID, 
                        aws_secret_access_key=SECRET_ACCESS_KEY,
                        region_name = "eu-west-3"
                        )

#### Création d'une ressource S3

In [213]:
s3 = session.resource('s3')

#### Création d'un bucket

In [214]:
bucket_name = 'bucket-for-kayak-project'
bucket = s3.create_bucket(Bucket = bucket_name, CreateBucketConfiguration = {'LocationConstraint': 'eu-west-3'})

In [215]:
print(bucket)
print(type(bucket))

s3.Bucket(name='bucket-for-kayak-project')
<class 'boto3.resources.factory.s3.Bucket'>

#### Envoi du fichier csv vers le bucket

In [216]:
bucket.upload_file('./src/hotels.csv', 'top_hotels.csv')

#### Vérification des éléments présents dans le bucket

In [217]:
for item in bucket.objects.all():
    print(item.key)

top_hotels.csv

#### Lecture du fichier csv depuis le bucket

In [218]:
from io import StringIO

s3_client = session.client('s3')
s3_object = s3_client.get_object(Bucket=bucket_name, Key='top_hotels.csv')
s3_data = s3_object['Body'].read().decode('utf-8')
data = pd.read_csv(StringIO(s3_data))

In [219]:
data.head()

,city_id,hotel_name,description,score,price,url,lat,lon
0,6,Hotel des Vosges,L'Hotel des Vosges vous accueille dans le XXe ...,8.0,102,https://www.booking.com/hotel/fr/des-vosges-pa...,48.867778,2.382908
1,1,Le Héron,"Offrant une vue sur la rue calme, Le Héron est...",8.5,137,https://www.booking.com/hotel/fr/le-heron-huis...,48.610084,-1.456738
2,1,Les Terrasses Poulard,Occupant 2 bâtiments différents au cœur du Mon...,7.4,242,https://www.booking.com/hotel/fr/les-terrasses...,48.635349,-1.510379
3,5,Les Initiés,Installé au cœur du centre historique de Rouen...,7.9,81,https://www.booking.com/hotel/fr/les-inities-r...,49.441976,1.092439
4,6,Ideal Hotel,"Situé à Paris, l'Ideal Hotel propose des héber...",5.3,75,https://www.booking.com/hotel/fr/ideal-paris.f...,48.867610,2.375461

In [220]:
data.shape

(698, 8)

## Datawarehouse : AWS RDS

#### Import librairies

In [221]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, Float, Text

#### Création d'une base de données SQL

Nous utilisons l'interface AWS RDS pour créer une base de données.

Nous définissons et récupérons les informations de connexion.

In [240]:
# Les identifiants ci-dessous ont été cachés
# Pour pouvoir exécuter ce code vous devrez renseigner vos identifiants

YOUR_HOSTNAME = "---------------------------------------"
YOUR_USERNAME = "postgres"
YOUR_PASSWORD = "password"
PORT = "5432"

#### Connexion à la base de données

In [243]:
engine = create_engine(f"postgresql+psycopg2://{YOUR_USERNAME}:{YOUR_PASSWORD}@{YOUR_HOSTNAME}/postgres", echo=True)

In [245]:
engine

Engine(postgresql+psycopg2://postgres:***@kayak-db.ca16dzxuqxwp.eu-west-3.rds.amazonaws.com/postgres)

In [244]:
conn = engine.connect()

2024-03-12 23:45:38,387 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-03-12 23:45:38,388 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-03-12 23:45:38,411 INFO sqlalchemy.engine.Engine select current_schema()
2024-03-12 23:45:38,412 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-03-12 23:45:38,434 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-03-12 23:45:38,436 INFO sqlalchemy.engine.Engine [raw sql] {}

#### Création des tables

Notre base de données contiendra 2 tables : 

- Table city : elle regroupe les informations des 35 villes et les données météorologiques ;

- Table hotel : elle regroupe les informations de tous les hôtels ;

- Ces tables seront reliées par la clé *city_id*.

In [246]:
cities = pd.read_csv('./src/top_35_cities_lite.csv')
hotels = pd.read_csv('./src/hotels.csv')

print(cities.shape)
print(hotels.shape)

(35, 11)
(698, 8)

Ajout d'une colonne id pour les hôtels

In [247]:
hotel_id = [i for i in range(1, 699)] 
hotels.insert(loc = 0,
            column = 'id',
            value = hotel_id)

In [248]:
cities.rename(columns={'city_id': 'id', 'city': 'name', 'lat_city': 'lat', 'lon_city': 'lon', 
                       'avg_weather': 'weather', 'avg_temp': 'temperature', 'avg_clouds': 'clouds',
                       'avg_wind': 'wind', 'avg_humidity': 'humidity', 'avg_rain': 'rain', 'avg_pop': 'pop'}, inplace=True)

hotels.rename(columns={'hotel_name': 'name'},  inplace=True)

#### Ajout des données dans les tables

In [249]:
cities.to_sql('city', engine)
hotels.to_sql('hotel', engine)

2024-03-12 23:46:44,817 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-12 23:46:44,833 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-03-12 23:46:44,834 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {'table_name': 'city', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-03-12 23:46:44,860 INFO sqlalchemy.engine.Engine
CREATE TABLE city (
	index BIGINT,
	id BIGINT,
	name TEXT,
	lat FLOAT(53),
	lon FLOAT(53),
	weather TEXT,
	temperature FLOAT(53),
	clouds FLOAT(53),
	wind FLOAT(53),
	humidity FLOAT(53),
	rain FLOAT(53),
	pop FLOAT(53)
)


2024-03-12 23:46:44,860 INFO sqlalchemy.engine.Engine [no key 0.00070s] {}
2024-03-12 23:46:44,891 INFO sqlalchemy.engine.Engine CREATE INDEX ix_city_index ON city (index)
2024-03-12 23:46:44,892 INFO sqlalchemy.engine.Engine [no key 0.00106s] {}
2024-03-12 23:46:44,907 INFO sqlalchemy.engine.Engine INSERT INTO city (index, id, name, lat, lon, weather, temperature, clouds, wind, humidity, rain, pop) VALUES (%(index__0)s, %(id__0)s, %(name__0)s, %(lat__0)s, %(lon__0)s, %(weather__0)s, %(temperature__0)s, %(clouds__0)s, %(wind__0)s, %(humidity__0) ... 6007 characters truncated ... 4)s, %(temperature__34)s, %(clouds__34)s, %(wind__34)s, %(humidity__34)s, %(rain__34)s, %(pop__34)s)
2024-03-12 23:46:44,908 INFO sqlalchemy.engine.Engine [generated in 0.00264s (insertmanyvalues) 1/1 (unordered)] {'humidity__0': 87.0, 'pop__0': 0.528, 'id__0': 1, 'name__0': 'Mont Saint Michel', 'lon__0': -1.511459954959514, 'temperature__0': 5.668, 'clouds__0': 82.6, 'rain__0': 0.446, 'lat__0': 48.6359541, 'index__0': 0, 'wind__0': 7.708000000000001, 'weather__0': 'Rain', 'humidity__1': 84.0, 'pop__1': 0.546, 'id__1': 2, 'name__1': 'St Malo', 'lon__1': -2.0260409, 'temperature__1': 6.324, 'clouds__1': 84.0, 'rain__1': 0.524, 'lat__1': 48.649518, 'index__1': 1, 'wind__1': 8.852, 'weather__1': 'Rain', 'humidity__2': 88.8, 'pop__2': 0.616, 'id__2': 3, 'name__2': 'Bayeux', 'lon__2': -0.7024738, 'temperature__2': 5.518, 'clouds__2': 71.2, 'rain__2': 0.8320000000000001, 'lat__2': 49.2764624, 'index__2': 2, 'wind__2': 6.991999999999999, 'weather__2': 'Rain', 'humidity__3': 82.0, 'pop__3': 0.6459999999999999, 'id__3': 4, 'name__3': 'Le Havre', 'lon__3': 0.1079732, 'temperature__3': 7.252000000000001, 'clouds__3': 74.2, 'rain__3': 0.806, 'lat__3': 49.4938975, 'index__3': 3, 'wind__3': 9.022000000000002, 'weather__3': 'Rain', 'humidity__4': 87.6, 'pop__4': 0.5280000000000001 ... 320 parameters truncated ... 'wind__30': 5.646, 'weather__30': 'Rain', 'humidity__31': 89.4, 'pop__31': 0.834, 'id__31': 32, 'name__31': 'Montauban', 'lon__31': 1.3549991, 'temperature__31': 6.368, 'clouds__31': 99.6, 'rain__31': 1.6939999999999995, 'lat__31': 44.0175835, 'index__31': 31, 'wind__31': 5.739999999999999, 'weather__31': 'Rain', 'humidity__32': 76.4, 'pop__32': 0.828, 'id__32': 33, 'name__32': 'Biarritz', 'lon__32': -1.5592776, 'temperature__32': 9.294, 'clouds__32': 99.8, 'rain__32': 2.754, 'lat__32': 43.4832523, 'index__32': 32, 'wind__32': 7.971999999999999, 'weather__32': 'Rain', 'humidity__33': 78.0, 'pop__33': 0.834, 'id__33': 34, 'name__33': 'Bayonne', 'lon__33': -1.4736657, 'temperature__33': 8.984, 'clouds__33': 99.6, 'rain__33': 2.904, 'lat__33': 43.4945144, 'index__33': 33, 'wind__33': 6.962000000000001, 'weather__33': 'Rain', 'humidity__34': 75.6, 'pop__34': 0.674, 'id__34': 35, 'name__34': 'La Rochelle', 'lon__34': -1.1520434, 'temperature__34': 8.214, 'clouds__34': 75.2, 'rain__34': 0.78, 'lat__34': 46.1591126, 'index__34': 34, 'wind__34': 10.422, 'weather__34': 'Rain'}
2024-03-12 23:46:44,919 INFO sqlalchemy.engine.Engine COMMIT
2024-03-12 23:46:44,934 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-12 23:46:44,937 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-03-12 23:46:44,938 INFO sqlalchemy.engine.Engine [cached since 0.1045s ago] {'table_name': 'hotel', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-03-12 23:46:44,959 INFO sqlalchemy.engine.Engine
CREATE TABLE hotel (
	index BIGINT,
	id BIGINT,
	city_id BIGINT,
	name TEXT,
	description TEXT,
	score FLOAT(53),
	price BIGINT,
	url TEXT,
	lat FLOAT(53),
	lon FLOAT(53)
)


2024-03-12 23:46:44,960 INFO sqlalchemy.engine.Engine [no key 0.00164s] {}
2024-03-12 23:46:44,971 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hotel_index ON hotel (index)
2024-03-12 23:46:44,971 INFO sqlalchemy.engine.Engine [no key 0.00074s] {}
2024-03-12 23:46:44,999 INFO sqlalchemy.engine.Engine INSERT INTO hotel (index, id, city_id, name, description, score, price, url, lat, lon) VALUES (%(index__0)s, %(id__0)s, %(city_id__0)s, %(name__0)s, %(description__0)s, %(score__0)s, %(price__0)s, %(url__0)s, %(lat__0)s, %(lon__0)s), (%(index__1)s, % ... 110322 characters truncated ... 7)s, %(description__697)s, %(score__697)s, %(price__697)s, %(url__697)s, %(lat__697)s, %(lon__697)s)
2024-03-12 23:46:45,001 INFO sqlalchemy.engine.Engine [generated in 0.00689s (insertmanyvalues) 1/1 (unordered)] {'id__0': 1, 'city_id__0': 6, 'price__0': 102, 'name__0': 'Hotel des Vosges', 'score__0': 8.0, 'lon__0': 2.38290846, 'url__0': 'https://www.booking.com/hotel/fr/des-vosges-paris.fr.html', 'lat__0': 48.86777797, 'index__0': 0, 'description__0': "L'Hotel des Vosges vous accueille dans le XXe arrondissement de Paris, à seulement 700 mètres du cimetière du Père Lachaise. Il\xa0vous propose\xa0un ... (675 characters truncated) ... a gare du Nord est située sur la même ligne de métro et la gare de l'Est se trouve à 2,5 km. Vous bénéficierez de prix réduits pour le stationnement.", 'id__1': 2, 'city_id__1': 1, 'price__1': 137, 'name__1': 'Le Héron', 'score__1': 8.5, 'lon__1': -1.4567376, 'url__1': 'https://www.booking.com/hotel/fr/le-heron-huisnes-sur-mer.fr.html', 'lat__1': 48.6100841, 'index__1': 1, 'description__1': "Offrant une vue sur la rue calme, Le Héron est un hébergement situé à Huisnes-sur-Mer, à 12 km du Mont-Saint-Michel et à 19 km du Scriptorial d'Avran ... (529 characters truncated) ... n\nVous séjournerez à 44 km de la gare de Granville et à 45 km du zoo de Champrepus. L'aéroport de Rennes-Saint-Jacques, le plus proche, est à 92 km.", 'id__2': 3, 'city_id__2': 1, 'price__2': 242, 'name__2': 'Les Terrasses Poulard', 'score__2': 7.4, 'lon__2': -1.51037872, 'url__2': 'https://www.booking.com/hotel/fr/les-terrasses-poulard.fr.html', 'lat__2': 48.63534943, 'index__2': 2, 'description__2': 'Occupant 2\xa0bâtiments différents au cœur du Mont-Saint-Michel, l’établissement historique Les Terrasses Poulard propose des hébergements avec une v ... (653 characters truncated) ... aisser vos bagages à la réception.\n\nLa région constitue un cadre idéal pour diverses activités telles que la pêche, le vélo et la randonnée à pied.', 'id__3': 4, 'city_id__3': 5, 'price__3': 81, 'name__3': 'Les Initiés', 'score__3': 7.9, 'lon__3': 1.09243892, 'url__3': 'https://www.booking.com/hotel/fr/les-inities-rouen.fr.html', 'lat__3': 49.44197641, 'index__3': 3, 'description__3': "Installé au cœur du centre historique de Rouen, l'établissement Les Initiés est situé à seulement 10 minutes à pied de la gare de Rouen-Rive-Droite e ... (505 characters truncated) ... la cathédrale Notre-Dame se trouve à 5 minutes à pied. L'emplacement de l'établissement est idéal pour découvrir la capitale historique de Normandie.", 'id__4': 5, 'city_id__4': 6, 'price__4': 75, 'name__4': 'Ideal Hotel', 'score__4': 5.3, 'lon__4': 2.3754613, 'url__4': 'https://www.booking.com/hotel/fr/ideal-paris.fr.html', 'lat__4': 48.8676104, 'index__4': 4, 'description__4': "Situé à Paris, l'Ideal Hotel propose des hébergements simples équipés d'une télévision par câble à écran plat. Une connexion Wi-Fi est accessible gra ... (355 characters truncated) ... taurants.\n\nL'Ideal Hotel se situe à 2,5 km de la gare de Lyon et à 6 km de la tour Eiffel. L'aéroport de Paris-Charles-de-Gaulle se trouve à 20 km." ... 6880 parameters truncated ... 'id__693': 694, 'city_id__693': 30, 'price__693': 91, 'name__693': 'Hôtel Terranostra', 'score__693': 8.5, 'lon__693': 1.6056028, 'url__693': 'https://www.booking.com/hotel/fr/terranostra.fr.html', 'lat__693': 42.84718593, 'index__693': 693, 'description__693': "Doté d'un restaurant et d'un bar, l'Hotel Terranostra vous accueille à Tarascon-sur-Ariège, au cœur des sites historiques de l'Ariège. Une connexion  ... (514 characters truncated) ... uit à proximité, et la gare la plus proche se situe à 5 minutes à pied. Vous rejoindrez la station de ski d'Ax Les 3 Domaines en 40 minutes de route.", 'id__694': 695, 'city_id__694': 30, 'price__694': 64, 'name__694': "The Originals Access, Hôtel Foix (P'tit Dej-Hotel)", 'score__694': 8.0, 'lon__694': 1.61583245, 'url__694': 'https://www.booking.com/hotel/fr/campanilefoix.fr.html', 'lat__694': 42.9921119, 'index__694': 694, 'description__694': "Situé au sein du parc naturel régional des Pyrénées ariégeoises, à 75\xa0km de Toulouse, l’établissement The Originals Access, Hôtel Foix (P'tit Dej- ... (405 characters truncated) ... nals Access, Hôtel Foix, et un parking public gratuit se trouve à proximité. Ce logement se trouve à 80\xa0km d’Andorre et de la frontière espagnole.", 'id__695': 696, 'city_id__695': 30, 'price__695': 215, 'name__695': 'La Grange - 10 couchages', 'score__695': 9.3, 'lon__695': 1.7654221, 'url__695': 'https://www.booking.com/hotel/fr/la-grange-carla-de-roquefort.fr.html', 'lat__695': 42.9751989, 'index__695': 695, 'description__695': "Situé à Carla-de-Roquefort, à 20 km du château de Foix et de la fontaine Fontestorbes, l'établissement La Grange - 10 couchages dispose d'un jardin e ... (607 characters truncated) ...  séjournerez à 21 km du musée de Montségur et à 25 km de la rivière souterraine de Labouiche. L'aéroport de Carcassonne, le plus proche, est à 64 km.", 'id__696': 697, 'city_id__696': 30, 'price__696': 130, 'name__696': 'Chalet bois au milieu des Pyrénées', 'score__696': 9.0, 'lon__696': 1.79836833, 'url__696': 'https://www.booking.com/hotel/fr/chalet-bois-au-milieu-des-pyrenees.fr.html', 'lat__696': 42.58990385, 'index__696': 696, 'description__696': "Doté d'une terrasse et d'une réception ouverte 24h/24, le Chalet bois au milieu des Pyrénées bénéficie d’un emplacement idéal à L'Hospitalet-près-l'A ... (588 characters truncated) ... de Font-Romeu à 38\xa0km du chalet. L'aéroport d'Andorre-La Seu d'Urgell, le plus proche, est situé à 62\xa0km du Chalet bois au milieu des Pyrénées.", 'id__697': 698, 'city_id__697': 30, 'price__697': 212, 'name__697': "Demeure de la Carmine, sejour bien-etre d'exception, piscine, hammam, champagne", 'score__697': 9.5, 'lon__697': 1.87135531, 'url__697': 'https://www.booking.com/hotel/fr/demeure-de-la-carmine.fr.html', 'lat__697': 43.08754039, 'index__697': 697, 'description__697': "Implantée à Mirepoix, en Midi-Pyrénées, la Demeure de la Carmine, sejour bien-etre d'exception, piscine, hammam, champagne se situe à 41 km de Carcas ... (661 characters truncated) ... et de boutiques sur place.\n\nVous séjournerez à 26 km de Foix et à 41 km d'Ax-les-Thermes. L'aéroport de Blagnac, le plus proche, se trouve à 73 km."}
2024-03-12 23:46:45,186 INFO sqlalchemy.engine.Engine COMMIT

698

#### Requêtes SQL

Nous effectuons quelques requêtes SQL pour vérifier si les données sont bien enregistrées dans la base de données.

In [281]:
from sqlalchemy.sql import text

# Afficher les meilleurs hôtels et leurs prix pour la ville de Paris

stmt = text("SELECT C.name, H.name, score, price "
            "FROM hotel H "
            "INNER JOIN city C "
            "ON H.city_id = C.id "
            "WHERE C.id = 6 "
            "ORDER BY score DESC")

result = conn.execute(stmt)
result.fetchall()

2024-03-13 00:13:33,125 INFO sqlalchemy.engine.Engine SELECT C.name, H.name, score, price FROM hotel H INNER JOIN city C ON H.city_id = C.id WHERE C.id = 6 ORDER BY score DESC
2024-03-13 00:13:33,127 INFO sqlalchemy.engine.Engine [generated in 0.00128s] {}

[('Paris', 'Motel One Paris-Porte Dorée', 8.7, 139),
 ('Paris', "Sonder L'Edmond Parc Monceau", 8.5, 349),
 ('Paris', 'Hotel Cluny Square', 8.4, 156),
 ('Paris', 'Virgina', 8.3, 131),
 ('Paris', 'Hotel du Pré', 8.3, 159),
 ('Paris', 'Hotel Albe Bastille', 8.2, 150),
 ('Paris', 'Hotel des Vosges', 8.0, 102),
 ('Paris', 'Hotel Luna Park', 7.9, 95),
 ('Paris', 'Hôtel Avenir Jonquière', 7.9, 84),
 ('Paris', 'Hotel Studia', 7.9, 121),
 ('Paris', 'Hotel Esmeralda', 7.7, 182),
 ('Paris', 'The Originals Boutique, Hôtel Maison Montmartre Paris Les Puces', 7.6, 129),
 ('Paris', 'Grand Hôtel du Bel Air', 7.4, 112),
 ('Paris', 'Hotel des Belges', 7.3, 96),
 ('Paris', "Hotel Le Clos d'Alésia", 7.2, 108),
 ('Paris', 'Grand Hôtel De Paris', 7.2, 116),
 ('Paris', 'Résidence de Bourgogne', 6.7, 103),
 ('Paris', 'Hotel De La Poste', 6.0, 66),
 ('Paris', 'Printania Porte de Versailles', 5.7, 87),
 ('Paris', 'Ideal Hotel', 5.3, 75)]

In [266]:
# Afficher les 10 villes où il fait le plus chaud

stmt = text("SELECT name, weather, temperature "
            "FROM city "
            "ORDER BY temperature DESC "
            "LIMIT 10")

result = conn.execute(stmt)
result.fetchall()

2024-03-13 00:08:32,808 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-13 00:08:32,809 INFO sqlalchemy.engine.Engine SELECT name, weather, temperature FROM city ORDER BY temperature DESC LIMIT 10
2024-03-13 00:08:32,810 INFO sqlalchemy.engine.Engine [cached since 408s ago] {}

[('Marseille', 'Clouds', 11.24),
 ('Cassis', 'Rain', 11.072),
 ('Saintes Maries de la mer', 'Clouds', 10.652),
 ('Bormes les Mimosas', 'Rain', 10.28),
 ('Aigues Mortes', 'Clouds', 10.157999999999998),
 ('Biarritz', 'Rain', 9.294),
 ('Bayonne', 'Rain', 8.984),
 ('Nimes', 'Clouds', 8.45),
 ('Avignon', 'Clouds', 8.43),
 ('Collioure', 'Clouds', 8.358)]

In [283]:
# Afficher le prix moyen des hôtels

stmt = text("SELECT round(avg(price)) "
            "FROM hotel ")

result = conn.execute(stmt)
result.fetchall()

2024-03-13 00:15:56,333 INFO sqlalchemy.engine.Engine SELECT round(avg(price)) FROM hotel
2024-03-13 00:15:56,333 INFO sqlalchemy.engine.Engine [generated in 0.00093s] {}

[(Decimal('124'),)]

Note : cette commande est utile en cas d'erreur dans la requête SQL.

In [259]:
conn.rollback()